extends ../layout

block content
    h1 All Refrigerators
    hr
    .row
        each product in products
            .col-md-6
                p
                a(href="../images/" + product.productID + ".png" alt=product.productID target="new")
                    img(src="../images/" + product.productID + ".png" alt=product.productID height=250 width 250)
                p                
                p
                p="ID "+product.productID
                p="Name "+product.productName